@model BookingProductModel

<input asp-for="ProductId" type="hidden" />
<div class="card-body">

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="BookByDaily" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BookByDaily" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="BookByTimeSlot" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BookByTimeSlot" />
        </div>
    </div>
     
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.BookByDaily)").on('click', function(){
            $('#@Html.IdFor(model => model.BookByTimeSlot)').prop('checked', false).trigger('change');
            $('#@Html.IdFor(model => model.BookByDaily)').prop('checked', true).trigger('change');
        });
        $("#@Html.IdFor(model => model.BookByTimeSlot)").on('click', function(){
            $('#@Html.IdFor(model => model.BookByDaily)').prop('checked', false).trigger('change');
            $('#@Html.IdFor(model => model.BookByTimeSlot)').prop('checked', true).trigger('change');
        });
    });
</script>
